body {
    font-family: 'Montserrat', sans-serif !important;
}
.about{
    margin: 30px;
}

#form {
    margin: 30px;
}

.memo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
}

.uk-card-default {
    margin: 20px;
}

.uk-button-secondary {
    margin: 30px;
}

section.memo {
    display: flex;
    justify-content: center;
}

section.detail {
    margin: 30px;
}